<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ana Sayfa</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon src="/assets/icon/bill-icon.svg"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon src="/assets/icon/campaign-icon.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="search-bar-container">
    <ion-searchbar
      placeholder="Mekan ara"
      animated="true">
    </ion-searchbar>
    <ion-button fill="clear">
      <ion-icon name="options-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="result-title">
    Sonuçlar
  </div>

  <div class="menu-items">
    <div *ngIf="message" class="message">
      {{ message }}
    </div>
    <ion-list>
      <ion-item *ngFor="let item of menuItems">
        <ion-card>
          <ion-img [src]="item.images[0]?.base64"></ion-img>
          <div class="rating">
            <ion-icon name="star-sharp" style="color: white;"></ion-icon> {{ item.storeInfo.rate }}
          </div>
          <ion-card-header>
            <ion-card-title>{{ item.title }}</ion-card-title>
            <ion-card-subtitle>
              <div class="item-type">
                {{ item.categoryId === "" ? "Kategori yok." :'Kategori No: ' + item.categoryId   }}
              </div>
            </ion-card-subtitle>
            
          </ion-card-header>
          <ion-card-content>
            <div class="info">
              <div class="left-column">
                <div class="distance">
                  <p>{{ calculateDistance(item.location.coordinates[0],item.location.coordinates[1])}} km yakınında</p>
                </div>
              </div>
              <div class="right-column">
                <div class="min-basket">
                  <p><ion-icon name="basket-sharp"></ion-icon> Min. Sipariş Tutarı: ₺{{ item.storeInfo.minOrderPrice }}</p>
                </div>
                <div class="hours">
                  <p>
                    <span [ngStyle]="{'color': item.storeInfo.status === 'open' ? 'green' : 'red'}" style="font-weight: bold;">
                      İşletme {{item.storeInfo.status === 'open' ? 'Açık' : 'Kapalı'}} 
                    </span> 
                    <ion-icon name="time-sharp" style="vertical-align: middle;"></ion-icon>
                    {{item.storeInfo.workingHours[0]?.open }}/{{ item.storeInfo.workingHours[0]?.close }}
                  </p>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadMenuItems($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Yükleniyor...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
